@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-family: "Open Sans";
    font-weight: 400;
    color-scheme: light dark;
    color: var(--white);
    background-color: var(--black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --black: #080808;
    --white: #f8f8f8;
    --white2: #e8e8e8;
    --primary: #2fc477;
    --secondary: #8beab9;
    --accent: #15f2b3;
}

body {
    margin: 0 1rem;
}

a, button {
    all: unset;
}

.btn {
    color: var(--black);
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 1em 1.2em;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: inherit;
    background: linear-gradient(90deg, var(--primary), var(--accent));
    cursor: pointer;
    transition: all .1s
}
.btn:hover {
    box-shadow: color-mix(in hsl, var(--primary), rgba(1, 1, 1, 0) 50%) 0 1px 30px;
    transition-duration: .1s;
}
.btn:active {
    box-shadow: color-mix(in hsl, var(--primary), rgba(1, 1, 1, 0) 25%) 0 1px 30px;
    transition-duration: .1s;
}
.btn:focus-visible {
    box-shadow: color-mix(in hsl, var(--primary), rgba(1, 1, 1, 0) 75%) 0 1px 30px;
    transition-duration: .1s;
}

.link {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .1s;
    cursor: pointer;
    padding: 1rem;
}
.link:hover {
    text-shadow: 0 0 1rem var(--primary);
    transition-duration: .1s;
}
.link:active {
    text-shadow: 0 0 2rem var(--primary);
    transition-duration: .1s;
}
.link:focus-visible {
    text-shadow: 0 0 .5rem var(--primary);
    transition-duration: .1s;
}

#app {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--black);
        background-color: var(--white);
    }
}

@media only screen and (max-width: 600px) {
    .btn {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}


